// common colors
$color-link:rgb(31, 122, 84);
$btn-bg-color:rgb(63, 210, 139);
$form-border-top:rgb(67, 201, 237);
$bg-color:rgb(238, 238, 238);
$header-bottom-border-col:#31b9e4;
$black-col:black;
$pipeline-col:#0000001F;
$input-bottom-border-col:rgb(185, 185, 185);
$footer-bg-col:rgb(224, 225, 225);
$white-col:white;
$header-bg-col:#25313f;
$shadow-col:#0000003D;

// login page colors
$radio-btn-col:#1F7A54;

// dashboard page colors
$nav-link-col:rgb(63, 210, 139);
$notification-count-col:rgb(51, 117, 210);
$main-head-bg-col:#8ddc97;
$sort-bar-text-col:#686868;
$expired-course-col:#D80000;
$expired-course-bg-col:rgba(255, 0, 0, 0.107);
$course-text-col:#666666;
$dark-green-text-col:#1F7A54;
$notification-date-col:#6E6E6E;
$notification-bottom-border-col:#2222221F;
$notification-bg-col:#e8e8e8;
$scrollbar-col:rgba(0, 0, 0, 0.388);
$unticked-notification-bg-col:#FFFFEE;
$sub-nav-bg-col:#F3F3F3;