footer{
    .about-contact{
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        margin-bottom:16px;
        text-align: center;
        a{
            text-decoration: none;
            color: $color-link;
        }
    }

    .main-footer{
        .footer-pipeline{
            height: 24px;
            margin-right: 20px;
            margin-left: 20px;
            border-left: 1px solid $pipeline-col;
        }
        height: 40px;
        @include phone{
            height: fit-content;
        }
        padding: 0px 10px;
        margin: auto 0px 0px 0px;
        @include flex-dir-jus-align(row,center ,center );
        background-color: $footer-bg-col;
        p{  
            font-size: small;
        }
        img{
            margin: 0px 20px;
        }
    }
}